/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  display: grid;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%; 
  width: clamp(375px, 100%, 700px);
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: 'wght' var(--text-font-width);
  color: var(--text-color);
  background-image: 
    repeating-linear-gradient(to right ,var(--background-gradient-subcolor) 0, var(--background-gradient-subcolor) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(var(--background-gradient-subcolor) 0, var(--background-gradient-subcolor) 2px, transparent 2px, transparent 4px),
    linear-gradient(var(--background-gradient-maincolor));
    background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: end;
  font-family: var(--sub-font-family), sans-serif;
  text-transform: uppercase;
  padding-top: 136px;
  font-weight: 400;
  background-color: var(--background-color);
  border: 2px solid currentColor;
  margin: 100px 0 100px 0;
  box-sizing: border-box;
}

.header__section {
  display: grid;
  gap: 20px;
  justify-items: center;
}

.header__title {
  font-size: var(--header-title-size);
}

.header__text {
  font-size: var(--header-text-size);
  font-weight: 400;
}

.header__theme-menu {
  font-size: var(--header-text-size);
  padding-bottom: 25px;
  
}

.theme-menu__list { 
  display: grid;
  gap: 14px;
  position: relative;
  padding-left:20px ;
}

.theme-menu__item {
  position: relative;
  font-size: 14px;
  font-weight: 400;
}

.button {
  background: none;
  cursor: pointer;
  border: none;
  font-family: var(--sub-font-family);
}

.theme-menu__button { /*кнопка для анимации*/
  position: relative;
  text-transform: uppercase;
  padding: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  opacity: 1; 
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {/* анимация прозрачности*/
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after{ /*анимация линии :focus-visible*/
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid currentColor;
  opacity: 0.6;
  transform: scaleX(0);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform-origin: 0% 100%;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: '▶';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -20px;
  animation-name: header-animation-arrow;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.main {
  box-sizing: border-box;
}

.main__section-list {
  display: grid;
  gap: 49px;
  
}

.main__section-item {
  font-size: 18px;
  border: 2px solid currentColor;
  background-color: var(--background-color);
}

.main__section-title {
  font-variation-settings: 'wght' var(--title-font-width);
  font-size: 18px;
  padding: 3px 10px 3px 10px;
  line-height: 21.78px;
}

.main__section-image {
  position: relative;
  display: flex;
  background-size:cover ;
  border: 2px solid currentColor;
  border-left: none;
  border-right: none;
  height: clamp(373px, 100vw, 700px);
  z-index: 3;
}

.main__section-image-text {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--sub-font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 var(--color-text-border), 
 0 1px var(--color-text-border), 
 1px 0 var(--color-text-border), 
 0 -1px var(--color-text-border);
}



.image-blackandwight {
  filter: grayscale(0.7);
}

.image-saturate {
  filter: saturate(400%);
}

.image-hue-rotate {
  filter: hue-rotate(25deg);
}

.image-invert {
  filter: invert(0.8);
}

.image-sepia {
  filter: sepia(90%);
}

.image-blur {
  filter: blur(1rem);
}

.image-drop-shadow {
  filter: hue-rotate(95deg) contrast(50%) brightness(140%) blur(0.12rem);
}

.main__section-text-block {
  display: grid;
  gap: 27px;
  padding: 25px;
}

.main__section-button-block {
  display: flex;
  justify-content: end;
  padding: 25px;
  padding-top: 1px;
  gap: 6px;
}

.main__section-subbutton {
  position: relative;
  padding: 0;
}

.main__section-subbutton:focus {
  outline: none;
}

.main__section-subbutton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid currentColor;
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.main__section-subbutton:focus-visible::after {
  opacity: 1;
}
/*Тут были стили для лайка*/

.main__section-button {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  min-width: 130px;
  min-height: 38px;
  border: 2px solid currentColor;
}

.card__like-button-text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 5;
}

.main__section-text {
  line-height: 21px;
}

.text-color-style {
  color: var(--text-color-style);
}

.main__section-button {
}

.button-animation {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button-animation:focus { /*Анимация кнопки лайка и футера*/
  outline: none;
}

.button-animation:focus-visible{
    box-shadow: 2px 2px 0 currentColor;
}

.button-animation::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  transform-origin: 0% 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.button-animation:hover::after {
  transform: scaleX(1);
}

.main-footer {
  display: grid;
  margin-top: 50px;
  min-width: clamp(306px, auto, 335px);
  justify-content: center;
  margin-bottom: 100px;

}

.main-footer__button-block {
  position: relative;
  max-width: 360px;
  padding: 0;
  margin: 0;
}

.main-footer__section {
  display: flex;  /*Поменять в медиа*/
  position: relative;
  background-color: var(--background-color);
  border: 2px solid currentColor;
  gap: 8px;
  padding: 15px 20px 15px 20px;
}

.main-footer__section-text {
  display: flex;
  font-family: var(--sub-font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  mix-blend-mode: difference;
  z-index: 3;
}

.main-footer__section-floppy {
  display: flex;
  place-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  z-index: 3;

}
.floppy {
  width: 28px;
  height: 28px;
  color: var(--text-color);
}

.floppy-text-style {
  color: var(--text-color-style)
}

.main-footer-dialog{
  background-color: var(--background-color);
  border-color: var(--text-color);
  padding: 30px 42px 30px 42px;
  max-width: clamp(341px, 91vw, 357px);
}

.main-footer-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.main-footer__dialog-conteiner {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}

.main-footer__dialog-image-conteiner {
  display: flex;
}

.floppy-dialog {
  height: 39px;
  width: 39px;
}

.main-footer__dialog-text {
  font-family: var(--sub-font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  text-transform: uppercase;
  line-height: 21px;
}

.main-footer__dialog-form {
  margin-top: 30px;
  display: grid;
  height: 38px;
}

.main-footer__dialog-button {
  color: var(--text-color);
  background: none;
  mix-blend-mode: difference;
  font-family: var(--sub-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 2px solid var(--text-color) ;
  padding: 0;
  cursor: pointer;
}

.main-footer__dialog-button-text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 5;
}
@media (width <= 375px) {
  .header {
    padding-top: 120px;
  }
  .main-footer__section {
    display: grid;
  }
  .main__section-image-text {
    right: 13px;
    top: 25px;
  }
  .main__section-title {
    padding: 4px 10px 6px 10px;
  }
}

@media (width >= 500px) {
  :root {
    --header-title-size: 65px;
    --header-text-size: 23px;
  }
  .main__section-image {
    display: flex;
    background-image: cover;
  }
  .main__section-text{
    line-height: 21px;
  }
  .floppy {
    width: 21px;
    height: 21px;
  }
  .floppy-dialog {
    height: 39px;
    width: 39px;
  }
}

@media (prefers-color-scheme: light) {
  .floppy-favicon rect{
    fill: #00CC14;
  }
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .main__section-image-text {
    -webkit-text-stroke: 1px var(--color-text-border);
    text-stroke: 1px var(--color-text-border);
    text-shadow: none;
  }
}

